
*.vsidx
*.sentinel
*.pdb
*.cache
*.pdb
*.cache
bin
.vs
DeliveryUnitManager/.vs/DeliveryUnitManager/v17/.suo
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/DeliveryUnitManager.Reponsitory.AssemblyInfo.cs
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/DeliveryUnitManager.Reponsitory.csproj.FileListAbsolute.txt
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/DeliveryUnitManager.Reponsitory.dll
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/DeliveryUnitManager.Reponsitory.GeneratedMSBuildEditorConfig.editorconfig
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/DeliveryUnitManager.Reponsitory.GlobalUsings.g.cs
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/ref/DeliveryUnitManager.Reponsitory.dll
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/Debug/net6.0/refint/DeliveryUnitManager.Reponsitory.dll
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/DeliveryUnitManager.Reponsitory.csproj.nuget.dgspec.json
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/DeliveryUnitManager.Reponsitory.csproj.nuget.g.props
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/DeliveryUnitManager.Reponsitory.csproj.nuget.g.targets
DeliveryUnitManager/DeliveryUnitManager.Reponsitory/obj/project.assets.json
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/apphost.exe
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.AssemblyInfo.cs
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.csproj.CopyComplete
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.csproj.FileListAbsolute.txt
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.dll
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.GeneratedMSBuildEditorConfig.editorconfig
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.GlobalUsings.g.cs
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/DeliveryUnitManager.MvcApplicationPartsAssemblyInfo.cs
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/ref/DeliveryUnitManager.dll
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/refint/DeliveryUnitManager.dll
DeliveryUnitManager/DeliveryUnitManager/obj/Debug/net6.0/staticwebassets.build.json
DeliveryUnitManager/DeliveryUnitManager/obj/DeliveryUnitManager.csproj.nuget.dgspec.json
DeliveryUnitManager/DeliveryUnitManager/obj/DeliveryUnitManager.csproj.nuget.g.props
DeliveryUnitManager/DeliveryUnitManager/obj/DeliveryUnitManager.csproj.nuget.g.targets
DeliveryUnitManager/DeliveryUnitManager/obj/project.assets.json
DeliveryUnitManager/.vs/DeliveryUnitManager/v17/.suo
